body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif; /* 使用谷歌字体 */
  line-height: 2;
}

.dhl {
  background-color: #333;
  color: white;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 40%;

  display: flex;

  justify-content: center;
  align-items: center;

  backdrop-filter: blur(6px);
  background: rgba(18, 7, 34, 0.292);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dhl div {
  font-size: 1em;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2% 4%;
  text-decoration: none;
}

.dhl div:hover {
  backdrop-filter: blur(20px);
  background: rgb(245, 245, 250);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #7b72a2;
}

.banner {
  width: 100%;
}

.paper:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: -webkit-linear-gradient(top right, transparent 50%, #fff 0);
  top: 0;
  right: 0;
  border-bottom-left-radius: 5px;
}

.paper {
  position: relative;
  margin-top: 16%;
  margin-left: 10%;
  margin-right: 10%;

  padding: 5vh;
  height: 100vh;
  background: linear-gradient(
    -135deg,
    transparent 3%,
    rgba(255, 255, 255, 0.269) 0
  );

  backdrop-filter: blur(6px);
}

/* .yuan {
  margin-left: 14%;
  margin-top: 25%;
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #eeeffeaa;
  border-radius: 50%;
  animation: scaleAnimation 1s infinite ease-in-out;
} */

.footer {
  text-align: center;
  background-color: cadetblue;
  color: white;
  font-size: small;
  margin-top: 6%;
  padding-top: 2%;
  padding-bottom: 2%;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* 渐变背景 */
.maxcolor {
  background: linear-gradient(45deg, #e717d9, #9984eb, #dbe0f5, #d4235573);
  background-size: 300% 300%;
  animation: gentleGradientAnimation 15s ease infinite;
}

.maxcolor2 {
  margin: 0;
  background: linear-gradient(45deg, #1f0d2754, #e5dfef);
  background-size: 300% 300%;
  animation: gentleGradientAnimation 5s ease infinite;
}

@keyframes gentleGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 小球缩放动画 */
@keyframes scaleAnimation {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

/* 气泡分散动画 */
.paopao {
  display: flex;
}

.paopao span {
  margin-left: 50px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.274);
  margin: 0 12px;
  border-radius: 50%;
  animation: paopaoanimate calc(120s / var(--i)) linear infinite;
}
.paopao span:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.562);
}

@keyframes paopaoanimate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-5vh) scale(1);
  }
}
/* paopao */
